SAM-6D/Data
SAM-6D/datasets
SAM-6D/input_datasets
*.pyc
*.pth
*.pt
*.npy
*.o
*.npz
SAM-6D/Instance_Segmentation_Model/results_sam6d/*
SAM-6D/Instance_Segmentation_Model/results_sam6d
SAM-6D/Pose_Estimation_Model/results_sam6d/*
SAM-6D/Pose_Estimation_Model/results_sam6d
SAM-6D/Pose_Estimation_Model/model/pointnet2/build
SAM-6D/Pose_Estimation_Model/model/pointnet2/build/*
SAM-6D/Pose_Estimation_Model/model/pointnet2/dist
SAM-6D/Pose_Estimation_Model/model/pointnet2/dist/*
SAM-6D/Pose_Estimation_Model/model/pointnet2/pointnet2.egg-info
SAM-6D/Pose_Estimation_Model/model/pointnet2/pointnet2.egg-info/*